<html>
<style>
	p{color: green;}
</style>
<body>
<h1> BREAK FAST	</h1>
<div>
<p>PLAIN IDLY<span>RS.20</span><input type="number" name="price" /></p>
<p>PODI IDLY<span>RS.30</span><input type="number" name="price" /></p>
<p>PLAN DOSA<span>RS.50</span><input type="number" name="price" /></p>
<p>ONION DOSA<span>RS.60</span><input type="number" name="price" /></p>
<p>MASALA DOSA<span>RS.60</span><input type="number" name="price" /></p>
<p>PURI<span>RS.10</span><input type="number" name="price" /></p>
<p>VADA<span>RS.10</span><input type="number" name="price" /></p>

</div>

</html>