
<style>
	p{color: darkblue;}
</style>
<body>
<h1> DINNER	</h1>
<div>
<p>PLAIN IDLY<span>RS.20</span><input type="number" name="price" /></p>
<p>PODI IDLY<span>RS.30</span><input type="number" name="price" /></p>
<p>GHEE ROAST<span>RS.50</span><input type="number" name="price" /></p>
<p>EGG NOODLES<span>RS.50</span><input type="number" name="price" /></p>
<p>VEG NOODLES<span>RS.50</span><input type="number" name="price" /></p>
<p>CHICKEN NOODLES<span>RS.70</span><input type="number" name="price" /></p>
<p>MANCHURIYA<span>RS.50</span><input type="number" name="price" /></p>
</div>
<button type="submit" value="Submit">SAVE</button>



