<html>
<style>
	p{color: black;}
</style>
<body>
<h1> LUNCH </h1>
<div>
<p>MEALS<span>RS.100</span><input type="number" name="price" /></p>
<p>CHICKEN BIRIYANI<span>RS.150</span><input type="number" name="price" /></p>
<p>CHILLY CHICKEN<span>RS.250</span><input type="number" name="price" /></p>
<p>MUTTON BIRIYANI<span>RS.300</span><input type="number" name="price" /></p>
<p>FISH BIRIYANI<span>RS.250</span><input type="number" name="price" /></p>
<p>CHICKEN CURRY<span>RS.100</span><input type="number" name="price" /></p>
<p>MUTTON CURRY<span>RS.100</span><input type="number" name="price" /></p>

</div>

</html>