<!-- About Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About Us</h1>
    <p>We welcome you to sit back, unwind and appreciate the lovely sights and hints of the ocean while our best gourmet expert sets you up a scrumptious dinner utilizing the best and freshest ingredients.’Company Name’s legacy comes from The parent  Restaurant which was built up in 1963.
    Delicious’ was worked for people in general and has advanced into a combination between exquisite chic and contemporary fine charge.
    Enjoy our dazzling dishes and make the most of your eating background with us!</p>
    <p><strong>The Chef?</strong> Mr. Italiano himself</p>
    <p>We are proud of our interiors.</p>
    <h1><b>Opening Hours</b></h1>
    
    <div class="w3-row">
      <div class="w3-col s6">
        <p>Mon & Tue CLOSED</p>
        <p>Wednesday 10.00 - 24.00</p>
        <p>Thursday 10:00 - 24:00</p>
      </div>
      <div class="w3-col s6">
        <p>Friday 10:00 - 12:00</p>
        <p>Saturday 10:00 - 23:00</p>
        <p>Sunday 7:00 - 23:00</p>
      </div>
    </div>
    
  </div>
</div>